<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.helloworld.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helloworld.CheckBoxActivity"
            android:label="CheckBox Activity" >
        </activity>
        <activity
            android:name="com.example.helloworld.CatActivity"
            android:label="Cat Activity" >
        </activity>
        <activity
            android:name="com.example.helloworld.PreferenceActivity"
            android:label="Preference Activity" >
        </activity>
        <activity
            android:name="com.example.helloworld.TextFileActivity"
            android:label="TextFile Activity" >
        </activity>
        <activity
            android:name="com.example.helloworld.AudioActivity"
            android:label="Audio Activity" >
        </activity>
        <activity
            android:name="com.example.helloworld.AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity android:name="com.example.sqlite.StudentListActivity" >
        </activity>
        <activity android:name="com.example.sqlite.StudentUpdateActivity" >
        </activity>
    </application>

</manifest>